<div class="contenedor">
  <h2>Listado de Tarjetas</h2>
  <div class="tabla" *ngIf="listUsuarios.length>0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="titular">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> {{element.titular}} </td>
      </ng-container>

      <ng-container matColumnDef="numeroTarjeta">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroTarjeta}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaExpiracion">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaExpiracion}} </td>
      </ng-container>

      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element; let i = index"> 
          <a href="" class="pointer" matTooltip="Editar Usuario">
            <mat-icon>edit</mat-icon>
          </a>
          <a (click)="eliminarUsuario(i)" class="pointer" matTooltip="Eliminar">
            <mat-icon>delete</mat-icon>
          </a>

        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
   
  </div>
  <h2 *ngIf="listUsuarios.length==0">No hay usuarios para mostrar</h2> 
</div>